<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercises_List</title>
  <link rel="stylesheet" href="{% static "innercss.css" %} ">
</head>
<body>

  <div class="container">
    <div class="image-container">
      <img src="{% static "PullUp_GIF.gif" %}" alt="Description of your image">
    </div>
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercises_List</title>
  <link rel="stylesheet" href="{% static "innerstyle.css" %} ">
</head>
<body>
    <div class="description">
      <h3><strong>Description:</strong></h3>
       
         <p>
          Pull-ups are a challenging upper-body exercise that targets the muscles of the back, particularly the latissimus dorsi, as well as the biceps, shoulders, and forearms. This compound exercise involves lifting the body by pulling it up towards a bar or other elevated surface. Pull-ups are an excellent measure of upper body strength and endurance.  </p>       <br>
         <h3><strong>Proper Pull-Up Form:</strong></h3>
         <p>
         Hang from a bar with your palms facing away from you (overhand grip).
         Keep your hands slightly wider than shoulder-width apart.
         Engage your core and squeeze your shoulder blades together.
         Pull your body upward until your chin clears the bar.
         Lower your body back down with control.</p>
        <h3><strong>Variations:</strong></h3>
         <ul>
        <li><strong>Chin-Ups:</strong> Palms facing towards you (underhand grip), targeting biceps more.</li> 
        <li><strong>Wide Grip Pull-Ups: </strong>Hands placed wider than shoulder-width.</li> 
         <li><strong>Close Grip Pull-Ups: </strong>Hands close together.</li> 
           <li><strong>Mixed Grip Pull-Ups:</strong>One palm facing towards you, the other facing away.</li> 
             <!-- <li><strong>Incline/Decline Push-Up: </strong>Elevate or lower the upper body to change the difficulty.</li> </ul>  -->
            </ul>
             <h3><strong> Uses:</strong></h3>
        
        <ol>
           <li>
             <strong>
         Upper Body Strength:
         </strong>
         
         Pull-ups primarily target the muscles of the back, including the latissimus dorsi, providing strength and definition.</li>
        <li><strong>Biceps Development:</strong>
         
          Pull-ups also engage the biceps, contributing to overall arm strength and aesthetics.
                  <li><strong>Shoulder and Forearm Engagement:</strong>
         
                    The shoulder muscles and forearms are activated as stabilizers during the pulling motion.</li>
                             <li><strong>Functional Upper Body Strength:</strong>
         
                              Mimicking real-world movements, pull-ups improve functional upper body strength and assist in daily activities.</li>
        <li><strong>Versatility:</strong>
         
          Pull-ups can be adjusted to various difficulty levels and can be part of a comprehensive upper body workout routine.
       </li> 
       <li>
        <strong>Bodyweight Control:</strong>
         
        Pull-ups require mastery of bodyweight control, promoting a good strength-to-weight ratio.</li>
        </ol>
        <li><h3>References:</h3></li>
     </div>
    </div>
    
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/eGo4IYlbE5g?si=rbzl4Ul7eJ1mLBn2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>

</body>
</html>

   


</body>
</html>
