<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercises_List</title>
  <link rel="stylesheet" href="{% static "innerstyle.css" %}">
</head>
<body>

  <div class="container">
    <div class="image-container">
      <img src="{% static "Pushup_GIF.gif" %}" alt="Description of your image">
    </div>
    
    <div class="description">
      <h3><strong>Description:</strong></h3>
       
         <p>
         A push-up is a fundamental bodyweight exercise that primarily targets the muscles of the chest, shoulders, triceps, and core. It is a compound exercise, meaning it engages multiple muscle groups simultaneously. The basic form involves supporting the body in a plank position, lowering the chest to the ground by bending the elbows, and then pushing back up to the starting position.</p>
         <br>
         <h3><strong>Proper Push-Up Form:</strong></h3>
         Start in a plank position with hands slightly wider than shoulder-width apart.
         Keep the body in a straight line from head to heels, engaging the core.
         Lower the chest toward the ground by bending the elbows.
         Ensure the elbows are at a 90-degree angle, not flaring out to the sides.
         Push through the palms to straighten the arms and return to the starting position.</p>
        <h3><strong>Variations:</strong></h3>
         <ul>
        <li><strong>Standard Push-Up:</strong> Hands on the ground.</li> 
        <li><strong> Wide Grip Push-Up: </strong>Hands placed wider than shoulder-width.</li> 
         <li><strong>Close Grip Push-Up: </strong>Hands close together, targeting triceps.</li> 
           <li><strong>Diamond Push-Up:</strong> Hands form a diamond shape under the chest.</li> 
             <li><strong>Incline/Decline Push-Up: </strong>Elevate or lower the upper body to change the difficulty.</li> </ul> 
        <h3><strong> Uses:</strong></h3>
         <ol>
           <li>
             <strong>
         Upper Body Strength:
         </strong>
         
         Push-ups are effective for building strength in the chest, shoulders, and triceps.
         They engage the muscles that contribute to a well-defined upper body.</li>
        <li><strong> Core Stability:</strong>
         
         The plank position and the need to maintain a straight line engage the core muscles, promoting stability.</li>
        <li><strong> No Equipment Needed:</strong>
         
         Push-ups require no special equipment, making them a convenient and accessible exercise that can be done anywhere.</li>
         <li><strong>Functional Movement:</strong>
         
         Mimicking everyday activities, push-ups promote functional strength and stability, enhancing overall physical capability.</li>
        <li><strong>Versatility:</strong>
         
         Push-ups can be modified to suit various fitness levels, from beginners to advanced.
         They can be part of a bodyweight workout or incorporated into more complex training routines.
       </li> 
       <li>
        <strong> Improves Cardiovascular Health:</strong>
         
         When done in higher repetitions or as part of a dynamic workout, push-ups contribute to cardiovascular fitness.</li>
         <li><strong>Time Efficiency:</strong>
         
         Push-ups are a time-efficient exercise that can be included in a quick workout for busy schedules.</li>
         <li><strong>Bodyweiht Control:</strong>
         
         Learning to control and move your bodyweight is an essential skill, and push-ups contribute to this aspect of fitness.</li>
        <h3><strong>References:</strong></h3></ol>
     </div>
  </div>
  <center><iframe width="560" height="315" src="https://www.youtube.com/embed/9cfN_mSzsOM?si=-v_AEfyDGwSX5ynK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>

</body>
</html>
