{% load static  %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercises_List</title>
  <link rel="stylesheet" href="{% static "innerstyle.css" %} ">
</head>
<body>

  <div class="container">
    <div class="image-container">
      <img src="{% static "situp.gif" %}" alt="Description of your image">
    </div>
    
    {% comment %} <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercises_List</title>
  <link rel="stylesheet" href="">
</head> {% endcomment %}
    <div class="description">
      <h3><strong>Description:</strong></h3>
       
         <p>Sit-ups are a classic abdominal exercise that targets the muscles of the core, including the rectus abdominis (the "six-pack" muscles) and the hip flexors. They involve lifting the upper body from a supine (lying on the back) position to a seated position. Sit-ups are commonly used to strengthen the abdominal muscles and improve overall core stability.</p>
         <br>
         <h3><strong>Proper Sit-Up Form:</strong></h3>
		<ol>
            <li>Lie on your back with your knees bent and feet flat on the floor.</li>
            <li>Place your hands behind your head or crossed over your chest.</li>
            <li>Engage your core muscles.</li>
            <li>Lift your upper body toward your knees by flexing your abdominal muscles.</li>
            <li>Lower your upper body back down with control.</li>
        </ol>
        <h3><strong>Variations:</strong></h3>
         <ul>
        <li><strong>Cross-Crunch Sit-Ups:</strong>Bring opposite elbow to opposite knee during the upward motion.</li> 
        <li><strong> Russian Twists: </strong>Sit up and twist the torso, touching the ground beside you alternately.</li> 
        </ul> 
        <h3><strong> Uses:</strong></h3>
         <ol>
           <li>
             <strong>
                Core Strength:
         </strong>
         
         Sit-ups primarily target the rectus abdominis, helping to strengthen and define the abdominal muscles..</li>
        <li><strong>Improves Flexibility:</strong>
            The repeated flexion and extension of the spine during sit-ups can contribute to improved flexibility in the core muscles.  
        </li>
        <li><strong> Enhances Posture:</strong>
            Strengthening the core muscles with sit-ups can contribute to better posture by providing support to the spine.
        </li>
         <li><strong>Increases Stability:</strong>
            Sit-ups engage not only the rectus abdominis but also the deeper stabilizing muscles of the core, promoting overall stability 
        .</li>
        <li><strong>Complements Back Health:</strong>
            A strong core can help alleviate strain on the lower back, reducing the risk of lower back pain.
       </li> 
       <li>
        <strong> Functional Movement:</strong>
        The motion of sitting up is a fundamental movement pattern, and sit-ups help improve the strength required for this action.
       </li>
       <h3><strong>References:</strong></h3>
        </ol>
     </div>
  </div>
  <center><iframe width="560" height="315" src="https://www.youtube.com/embed/jDwoBqPH0jk?si=DIV9WyU7gUje1SqX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>
</body>
</html>
