<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercises_List</title>
  <link rel="stylesheet" href="{% static "innerstyle.css" %}">
</head>

<body>

  <div class="container">
    <div class="image-container">
      <img src="{% static "Squat_GIF.gif" %}" alt="Description of your image">
    </div>

    <div class="description">
      <h3><strong>Description:</strong></h3>

      <p>
        Squats are a compound, lower-body exercise that targets multiple muscle groups, including the quadriceps,
        hamstrings, glutes, and lower back. They are a functional movement pattern that mimics the action of sitting
        down and standing up. Squats are fundamental to many strength training programs and are versatile in their
        application.<br>
      <h3><strong>Proper Pull-Up Form:</strong></h3>
      Stand with feet shoulder-width apart.
      Engage your core and keep your chest up.
      Lower your body by bending your knees and hips.
      Keep your knees in line with your feet and avoid letting them go beyond your toes.
      Lower your body until your thighs are parallel to the ground or as far as your flexibility allows.
      Push through your heels to return to the starting position.</p>
      <h3><strong>Variations:</strong></h3>
      <ul>
        <li><strong>Bodyweight Squats:</strong> Squats without added resistance.</li>
        <li><strong>Goblet Squats:</strong>Holding a weight close to your chest.</li>
        <li><strong>Barbell Back Squats:</strong>A barbell placed on the upper back.</li>
        <li><strong>Front Squats: </strong>Barbell held in front of the body.</li>
        <li><strong>Sumo Squats:</strong>Wider stance with toes turned outward.</li>
       
        <!-- <li><strong>Incline/Decline Push-Up: </strong>Elevate or lower the upper body to change the difficulty.</li> </ul>  -->
       
      </ul>
      <h3><strong> Uses:</strong></h3> 
        
        <ol>
          <li>
            <strong>
              Strengthens Lower Body Muscles:
            </strong>

            Squats target the major muscle groups of the lower body, including the quadriceps, hamstrings, and glutes.
          </li>
          <li><strong>Builds Core Strength:</strong>

            Engaging the core is essential for maintaining proper form during squats, contributing to overall core
            strength.</li>
          <li><strong>Enhances Functional Movement:</strong>

            Squats replicate the natural movement of sitting down and standing up, making them a functional exercise for
            daily activities.</li>
          <li><strong>Improves Posture:</strong>

            Performing squats with proper form helps improve posture by strengthening the muscles that support the
            spine.</li>
          <li><strong>Boosts Metabolism:</strong>

            Squats, being a compound exercise, engage multiple muscle groups, leading to an increase in metabolism and
            potential calorie burn.
          </li>
          <li>
            <strong>Increases Flexibility:</strong>

            Squats require flexibility in the hips, knees, and ankles, contributing to improved overall flexibility.
          </li>
        
        
        </ol>
        <h3><strong>References:</strong></h3>
    </div>

  </div>
  
  <center><iframe width="560" height="315" src="https://www.youtube.com/embed/4KmY44Xsg2w?si=uRZ7hSuV58Ad6Tii" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>
</body>

</html>